div#app {
  background-color: white;
  color: green;
}

div#app {
  .name {
    color: red;
  }

  ul {
    border: solid black 1px;

    li {
      color: palegoldenrod;
    }
  }

  & > .nam {
    color: yellow;
  }
}
